@tailwind base;
@tailwind components;
@tailwind utilities;

@import "flowbite";


.slick-dots li button:before {
    font-size: 12px !important;
    color: white !important;
    opacit0y: 0.75 !important;
    margin-top: 20px !important;
  }
  .slick-dots li.slick-active button:before {
    color: white !important;
    opacity: 1 !important;
  }


 
/* custom-styles.css */

.custom-accordion .flowbite-accordion-button {
  background-color: #303E95 !important;
  color: white !important;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
  transition: background-color 0.3s ease !important;
}

.custom-accordion .flowbite-accordion-button:hover {
  background-color: #303E95 !important;
}

.custom-accordion .flowbite-accordion-button:focus {
  outline: none !important;
  box-shadow: none !important;
}

.custom-accordion .flowbite-accordion-content {
  background-color: #303E95 !important;
  color: white !important;
}
